flask==3.0.0
flask-socketio==5.3.6
python-socketio==5.10.0
opencv-python-headless>=4.8.0
supervision>=0.25.0
Pillow==10.1.0
firebase-admin==6.3.0
python-dotenv==1.0.0
numpy<2.0
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics
tensorrt-cu12==10.16.0.72
eventlet==0.35.1
# For production
gunicorn==21.2.0