flask==3.0.0
flask-socketio==5.3.6
python-socketio==5.10.0
opencv-python==4.8.1.78
supervision==0.18.0
Pillow==10.1.0
firebase-admin==6.3.0
python-dotenv==1.0.0
numpy<2.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.0+cu126
torchvision==0.24.0+cu126
roboflow==1.1.9
rfdetr
eventlet==0.35.1
transformers==4.42.0
peft==0.10.0
# For production
gunicorn==21.2.0